@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,700&family=Tourney&display=swap');

h1 {
  text-align: center;
  margin: 20px;

  /* google fonts */
  font-family: 'Roboto', sans-serif; 
  font-family: 'Tourney', cursive;

  font-size: 60px;
}
@media (width < 450px){
  h1 {
    font-size: 40px;
  }
}

.card-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 70px;
}